@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import "tailwindcss";

section{
    margin-bottom: 150px;
}


body {
  font-family:  "Inter", sans-serif;
}

.fullpage-loader {
  position: fixed;
  inset: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff; 
  z-index: 9999;
}
td{
    margin: 10px 0 10px 0;
}

