.piplineContainer{
    min-height: 100vh;
    max-height: 100%;
    padding: 0;
    margin: 0 auto;
    padding: 15px;
}
.piplineContainer h1{
    font-size:  1.1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.piplineContainer h2{
    font-weight: 600;
    font-size: 1.2rem;
}
.columnWrapper{
    margin-top: 20px;
    overflow-x: scroll;
}
.columnWrapper::-webkit-scrollbar{
    display: none;
}
.piplineContainer .oppo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(245, 245, 245, 0.726);
    padding: 14px;
    border-radius: 30px;
    height: fit-content;
}
.oppo .column{
    width: 240px;
    padding: 10px;
}
.draggable{
    height: fit-content;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
}
.titleAndprice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.montant{
    font-size: .8rem;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: rgba(166, 221, 255, 0.342);
}
.date{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.date p{
    display: flex;
    align-items: center;
    font-size: .75rem;
    opacity: .8;
}
.date p svg{
    scale: .8;
}
.date small{
    display: flex;
    align-items: center;
    gap: 3px;
    width: 70px;
    font-size: .6rem;
    opacity: .4;
}
.contact{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;

}